<h2 style="color:red">An <strong><%= error.exception %></strong> occurred in <%= error.environment %> (error: <%= error.to_param %>):</h2>
<hr>

<blockquote style="font-size: 1.5em">
<%= error.message %>
</blockquote>

<h3>Backtrace</h3>
<pre style="white-space:pre-wrap"><%= error.backtrace %></pre>

<% if error.controller %>
  <h3>Session</h3>
  <% if Errorkit.config.format_errors && defined?(ap) %>
    <%= ap(JSON.parse(error.session), indent: 2).html_safe rescue error.session %>
  <% else %>
    <pre style="white-space:pre-wrap"><%= error.session %></pre>
  <% end %>

  <h3>Params</h3>
  <% if Errorkit.config.format_errors && defined?(ap) %>
    <%= ap(JSON.parse(error.params), indent: 2).html_safe rescue error.params %>
  <% else %>
    <pre style="white-space:pre-wrap"><%= error.params %></pre>
  <% end %>
<% end %>

<% if error.worker %>
  <h3>Payload</h3>
  <% if Errorkit.config.format_errors && defined?(ap) %>
    <%= ap(JSON.parse(error.payload), indent: 2).html_safe rescue error.payload %>
  <% else %>
    <pre style="white-space:pre-wrap"><%= error.payload %></pre>
  <% end %>
<% end %>

<h3>Details</h3>
<ul>
  <li>Environment: <%= error.environment %></li>
  <li>Server: <%= error.server %></li>
  <li>Version: <%= error.version %></li>
  <% if error.controller %>
  <li>Action: <%= error.controller %>#<%= error.action %></li>
  <li>IP: <%= error.remote_ip %></li>
  <li>URL: <%= error.url %></li>
  <% end %>
  <% if error.worker %>
  <li>Worker: <%= error.worker %></li>
  <li>Queue: <%= error.queue %></li>
  <% end %>
</ul>


